:root {
  font-family: system-ui, sans-serif;
}

.fieldset {
  border: solid;
  border-radius: 0.5em;
  margin: 1em 0 0.25em;
  padding: 0 0.5em 0.5em;
}

.legend {
  font-size: x-large;
  font-weight: bold;
}
